---
layout: default
---

<article class="post container">
<h2>{{ page.title }}</h2>
<div class="post-meta span-3">
    <time class="pill" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%Y-%m-%d" }}</time>
</div>
<div class="post-content span-15 last">
    {{ content }}
    <script type="text/javascript">
        var disqus_shortname = 'smallfish';

        // DON'T EDIT BELOW THIS LINE
        (function () {
            var div = document.getElementById('all-comments');
            div.innerHTML = ''; div.id = 'disqus_thread';

            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());
    </script>
    <script type="text/javascript" src="http://smallfish.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=people&excerpt_length=200"></script>
</div>
</article>
